
pyfile/.idea/inspectionProfiles/profiles_settings.xml
*.xml
*.iml
*.pyc
*.py
*.txt
pyfile/venv/Lib/site-packages/pip-20.1.1.dist-info/INSTALLER
pyfile/venv/Lib/site-packages/pip-20.1.1.dist-info/METADATA
pyfile/venv/Lib/site-packages/pip-20.1.1.dist-info/WHEEL
pyfile/venv/Lib/site-packages/pip-20.1.1.dist-info/RECORD
*.pem
*.cfg
*.exe
pyfile/venv/Lib/site-packages/setuptools-49.2.0.dist-info/INSTALLER
pyfile/venv/Lib/site-packages/setuptools-49.2.0.dist-info/LICENSE
pyfile/venv/Lib/site-packages/setuptools-49.2.0.dist-info/METADATA
pyfile/venv/Lib/site-packages/setuptools-49.2.0.dist-info/RECORD
pyfile/venv/Lib/site-packages/setuptools-49.2.0.dist-info/WHEEL
pyfile/venv/Lib/site-packages/setuptools-49.2.0.dist-info/zip-safe
*.tmpl
pyfile/venv/Scripts/activate
*.bat
*.ps1
